<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
    <body>
         <%- include('./partials/nav.ejs') %>

        <div class="container center-align">
            <i class="material-icons prefix">mood_bad</i>
            <h1>Oops</h1>
        </div>
    </body>
</html>